@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <marquee bgcolor="#b3a1a1" scrollamount="15" size="7"><font color="#8c1818" size="5"><b>快點餐別浪費時間</b></font></marquee>
    <h1 class="display-4">您好，歡迎光臨</h1>
    <img src="https://images.plurk.com/5I4W3wLO872GUGKSkSUY03.png" align="center">
    <hr size="2" align="center" noshade width="90%" color="171717">
    <font>
        若有任何疑問，請洽最好、最優秀的<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">輔仁大學</a>。
        <br>本小組一概不負任何責任。
        <br><br><br><br><br>
    </font>
    <marquee bgcolor="#b3a1a1" scrollamount="10" size="7">
        <font color="#8c1818" size="5">
            <b>
                我媽為了讓我脫單簡直不擇手段。　
                生日當天，她把一個無知少男塞進我房間，讓我自己拆。　
                拆完後我才知道：我想讓我媽送我禮物，我媽卻想讓我送命。　
                我過生日那天，喝得爛醉回到家，我媽給我打了個電話。　
                「禮物放你房間了，自己拆。」　
                我媽如此乾脆，我以為我想要的最新款包包已經到手了。　
                結果——我看見一個裹著浴巾的少年，安安靜靜地躺在那兒。　
                他裹的還是我那條粉色小浴巾，他的腿太長，我的浴巾太短，他上下失守。　
                我咽了咽口水。　
                「媽，你……你玩真的，多少錢？」我覺得我媽被她那群廣場舞姐妹帶壞了。　
                「我閨女想要的，媽媽再貴也給你買。」　
                我……　
                不就是前一陣她天天逼我相親，我都失敗後來了句，「信女願一生葷素搭配，求上天賜我個男朋友。」　
                難道我媽聽進去了？　
                「不是，媽這不合適吧……」　
                「害羞什麼，給你你就收著。」　
                我再次看向那少年，頭皮發麻，但一想到今天去同學會，被狗糧塞到吐的悲慘的自己，還是決定……拿下他。　
                浴巾解到一半，一隻手把我手摁住。　
                「你幹什麼？」他微微睜開眼，聲音低啞，眼神微醺。　
                我心裡咯噔一下。　
                幹什麼，幹……　
                他害羞了？　
                「要我關燈嗎？」我小聲地問。　
                他盯著我看了半分鐘。　
                啪……我關了燈。　
                想著他那張禍害人間的臉，我鼓起勇氣，在他臉上親了一口。　
                「姐姐多大？」他笑著阻止我我亂動的手，磁性的嗓音鑽進我的耳朵，癢癢的。　
                我愣了一下，挑釁我？　
                「F……」我極不要臉地往上加了幾個 cup。　
                「呵……」他輕笑一聲，緊接著笑得身子都在抖，「你確定？」　
                懷疑我？　
                「至少有 J……」我語帶肯定不讓他起疑。　
                他沉默半晌，懶懶道：「我說的……是年齡。」　
                丟人了……　
                「U。」我說得咬牙切齒。　
                FJU。原來是天主教輔仁大學的學生，難怪聽不懂人家在問什麼，學校餐廳偷漲價，開一間倒一間，用餐時段校內外全是人。學校修路只修一半，後半依舊輔大經典持續延續，學費全拿去做聖誕造景，電腦教室抽屜拉不出來，學校沒錢學生受罪，請大家不要報考天主教輔仁大學。
                <b>
        </font>
    </marquee>
</div>
