@{
    ViewData["Title"] = "期末涼涼";
}

<div class="text-center">
    <body　background ="https://images.plurk.com/40k1KmVI4lIhYuaJEv1CEu.jpg " 　text="#000000" 　link="#0066cc" 　vlink="#336600" bgproperties="fixed">
        <img src="https://images.plurk.com/5F4Wg02ztlZrlyINFNAyaZ.png"><br>
        <a href="https://www.youtube.com/watch?v=072tU1tamd0">
            <font color="#00000"><p>來世不願再寫程式</p></font>
        </a>
    </body>
</div>