
@{
    ViewData["Title"] = "Order";
}

<div class="text-center" align="center">
    <br><br>
    <font size="64" color="#910f0f"><b>多點一點，祝您點餐愉快</b></font>
    <br><br>
    <a asp-controller="Customer" asp-action="customerA"><input id="1" type="button" value="一號桌" style="width:120px;height:40px;font-size:20px;" /></a><br><br>
    <a asp-controller="Customer" asp-action="customerB"><input id="2" type="button" value="二號桌" style="width:120px;height:40px;font-size:20px;" /></a><br><br>
    <a asp-controller="Customer" asp-action="customerC"><input id="3" type="button" value="三號桌" style="width:120px;height:40px;font-size:20px;" /></a>
</div>