
@{
    ViewData["Title"] = "Backstage";
}

<h1>後臺首頁</h1>
<div class="text-center">
    <marquee bgcolor="#a3d4cc" scrollamount="4" size="7">
        <font color="#41877b" size="5">
            <b>
                和你玩剪刀石頭布，我只會出剪刀。　　　　　　                     　　　         　　　　　　　   ——  因為你是我的拳布。
            </b>
        </font>
    </marquee>
    <hr size="2" align="center" noshade width="90%" color="171717">
    <br>
    <a asp-action="DetailsA"><input id="1" type="button" value="一號桌" style="width: 120px; height: 40px; font-size: 20px; background-color: #874141; color: #ffffff; border-radius: 10px; border: none " /></a>
    <a asp-action="DetailsB"><input id="2" type="button" value="二號桌" style="width: 120px; height: 40px; font-size: 20px; background-color: #874141; color: #ffffff; border-radius: 10px; border: none " /></a>
    <a asp-action="DetailsC"><input id="3" type="button" value="三號桌" style="width: 120px; height: 40px; font-size: 20px; background-color: #874141; color: #ffffff; border-radius: 10px; border: none " /></a>
    <br><br>
    <hr size="2" align="center" noshade width="90%" color="171717">
    <br>
    <a asp-action="Accounting"><input id="A" type="button" value="明細" style="width: 120px; height: 40px; font-size: 20px; background-color: #874141; color: #ffffff; border-radius: 10px; border: none " /></a>
    <br><br><br>
    <img src="https://images.plurk.com/5iTWwCoTu3N6cLVmkPNWVp.jpg " >
</div>